{% extends 'accounts/main.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block head %} <link rel="stylesheet" href="{% static 'accounts/styles/form.css' %}"> {% endblock %}
{% block content %}

    <div class="content__form">
        <div class="form-container">
            <form id="password-change-form" class="form" method="POST">
                {% csrf_token %}
                <h1 class="form__title">Password change</h1>
                {% for field in form %}
                <div class="form__group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    <input id="{{field.id_for_label}}" type="{{field.field.widget.input_type}}" name="{{field.name}}">
                    <span class="form__message"></span>
                </div>
                {% endfor %}
                <button type="submit" class="form__button" id="submit">Submit</button>
            </form>
        </div>
    </div>

    <script>
        validator({
            formSelector:'#password-change-form',
            errorSelector:'.form__message',
            errorClass: 'invalid',
            ruleOptions: [
                validator.isRequired('#id_old_password','Input your old password'),
                validator.isRequired('#id_new_password1','Input your new password'),
                validator.isRequired('#id_new_password2','Please confirm your new password'),
                validator.minLength('#id_old_password', 8 ,'Password is at least 8 characters'),
                validator.minLength('#id_new_password1', 8 ,'Password is at least 8 characters'),
                validator.minLength('#id_new_password2', 8 ,'Password is at least 8 characters'),
                validator.confirm('#id_new_password2','#id_new_password1', 'Your confirm password is incorrect'),
                validator.differ('#id_new_password1', '#id_old_password', 'Please input a new password')
            ],
            onSubmit: (data) => {
                var url = "{% url 'accounts:password_change_api' %}"
                fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'content_Type':'applicaton/jason',
                        'X-CSRFtoken': csrftoken,
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    mode: 'same-origin'
                })
                .then(response => {
                    return response.json()
                })
                .then(data=>{
                    switch(data.password_change) {
                        case 'success':
                            var alertMessage = generateSubmitAlert({
                                selector: 'submitted-alert',
                                type: 'success',
                                title: 'Password changed',
                                body: 'Your password was changed, please login again',
                                link: '{% url "accounts:login" %}',
                                linkName:'Login'
                            })
                            replace({
                                targetSelector: '#password-change-form',
                                replaceElement: alertMessage
                            })
                            toast({
                                containerSelector: '#toast',
                                type: 'success',
                                title: 'Success',
                                body: `Your account's password has been changed`,
                                duration:5000
                            })
                            break
                        case 'error':
                            toast({
                                containerSelector: '#toast',
                                type: 'error',
                                title: 'Incorrect password',
                                body: 'Your old password is incorrect',
                                duration: 5000
                            })
                            break
                    }
                    console.log('changed successs')
                })
                .catch(()=>{
                    var alertMessage = generateSubmitAlert({
                        selector: 'submitted-alert',
                        type: 'error',
                        title: 'Password change error',
                        body: 'There is some error while changing your password, try request again',
                        link: '{% url "accounts:password_change" %}',
                        linkName:'Change password'
                    })

                    replace({
                        targerSelector: '#password-change-form',
                        toReplaceSelector: alertMessage
                    })
                })
            }
        })

    </script>
{% endblock %}