{% extends 'accounts/main.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block head %} <link rel="stylesheet" href="{% static 'accounts/styles/form.css' %}"> {% endblock %}
{% block content %}

    <div class="content__form">
        <div class="form-container">
            {% if is_valid %}
            <form id="password-reset-confirm" class="form" method="POST">
                {% csrf_token %}
                <h1 class="form__title">Password reset</h1>
                <div class="form__group">
                    <label for="id_new_password">New Password</label>
                    <input id="id_new_password" type="password" name="new_password">
                    <span class="form__message"></span>
                </div>

                <div class="form__group">
                    <label for="id_new_password_confirm">Password confirm</label>
                    <input id="id_new_password_confirm" type="password" name="new_password_confirm">
                    <span class="form__message"></span>
                </div>

                <button type="submit" class="form__button" id="submit">Submit</button>
            </form>
            {% else %}
                <form id="empty-form"></form>
            {% endif %}
        </div>
    </div>


    <script>

        "{% if is_valid %}"
        // if link is valid
        validator({
            formSelector:'#password-reset-confirm',
            errorSelector:'.form__message',
            errorClass: 'invalid',
            ruleOptions: [
                validator.isRequired('#id_new_password', 'Input your new password'),
                validator.isRequired('#id_new_password_confirm', 'Please confirm your password'),
                validator.minLength('#id_new_password', 8 ,'At least 8 character'),
                validator.minLength('#id_new_password_confirm', 8 , 'At least 8 character'),
                validator.confirm('#id_new_password_confirm', '#id_new_password', 'Your confirm password is incorrect')
            ],
            onSubmit: (data) => {
                url = "{% url 'accounts:password_reset_confirm_api' uidb64=uidb64 token=token %}"
                fetch(url,{
                    body: JSON.stringify(data),
                    method: 'POST',
                    headers: {
                        'Content_Type':'application/json',
                        'X-CSRFtoken': csrftoken,
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    mode: 'same-origin'
                })
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    switch(data.status){
                        case 'success': 
                            toast({
                                containerSelector: '#toast',
                                type: 'success',
                                title: 'Password reseted',
                                body: 'Please login again',
                                duration: 4000
                            })

                            var alertMessage = generateSubmitAlert({
                                selector: 'submitted-alert',
                                type: 'success',
                                title: 'Password reseted',
                                body: 'Your password has just been reseted, login again',
                                link: '{% url "accounts:login" %}',
                                linkName:'Login'
                            })
                            replace({
                                targetSelector: '#password-reset-confirm',
                                replaceElement: alertMessage
                            })
                            break
                        case 'invalid':
                                var alertMessage = generateSubmitAlert({
                                selector: 'submitted-alert',
                                type: 'Error',
                                title: 'Link expired',
                                body: 'Please request another password reset',
                                link: '{% url "accounts:password_reset" %}',
                                linkName:'Password reset'
                            })
                            replace({
                                targetSelector: '#password-reset-confirm',
                                replaceElement: alertMessage
                            })
                            break
                        case 'failed':
                            toast({
                                containerSelector: '#toast',
                                type: 'error',
                                title: 'Request faild',
                                body: 'Some thing went wrong, Request again',
                                duration: 4000
                            })
                            break
                    }
                })
                .catch(()=>{
                    var alertMessage = generateSubmitAlert({
                        selector: 'submitted-alert',
                        type: 'Error',
                        title: 'Something went wrong',
                        body: 'You might want to request another password reset',
                        link: '{% url "accounts:password_reset" %}',
                        linkName:'Password reset'
                    })
                    replace({
                        targetSelector: '#password-change-confirm',
                        replaceElement: alertMessage
                    })
                })
            }
        })

        "{% else %}"        // if invalid link
        var alertMessage = generateSubmitAlert({
                selector: 'submitted-alert',
                type: 'error',
                title: 'This link is expired',
                body: 'Some one just logged in by your account, please requet again',
                link: '{% url "accounts:password_reset" %}',
                linkName:'Password reset'
        })
        replace({
            targetSelector: '#empty-form',
            replaceElement: alertMessage
        })

        "{% endif %}"
    </script>
{% endblock %}