{% extends 'accounts/main.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block head %} <link rel="stylesheet" href="{% static 'accounts/styles/form.css' %}"> {% endblock %}
{% block content %}

    <div class="content__form">
        <div class="form-container">
            <form id="password-reset-form" class="form" method="POST">
                {% csrf_token %}
                <h1 class="form__title">Password reset</h1>
                <div class="form__group">
                    <label for="id_email">Email</label>
                    <input id="id_email" type="text" name="email">
                    <span class="form__message"></span>
                </div>
                <button type="submit" class="form__button" id="submit">Send</button>
            </form>
        </div>
    </div>

    <script>
        validator({
            formSelector:'#password-reset-form',
            errorSelector:'.form__message',
            errorClass: 'invalid',
            ruleOptions: [
                validator.isRequired('#id_email','Input your account \'s email'),
                validator.isEmail('#id_email', 'Please input a valid email')
            ],
            onSubmit: (data) => {
                var url = "{% url 'accounts:password_reset_api' %}"
                fetch(url,{
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'content_Type': 'application/jason',
                        'X-CSRFtoken':csrftoken,
                        'X-Requested-With':'XMLHttpRequest'
                    },
                    mode: 'same-origin'
                })
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    switch(data.status){
                        case 'success': 
                            toast({
                                containerSelector: '#toast',
                                type: 'success',
                                title: 'Email sent',
                                body: 'An instructino email has been sent to your email',
                                duration: 4000
                            })
                            var submittedAlert = generateSubmitAlert({
                                selector: 'submitted-alert',
                                type: 'success',
                                title: 'Email sent',
                                body: 'Check your email for password reset instruction',
                                link: 'https://mail.google.com/',
                                linkName:'Google mail'
                            })
                            replace({
                                targetSelector: "#password-reset-form",
                                replaceElement: submittedAlert
                            })
                            break
                        case 'notfound':
                            toast({
                                containerSelector: '#toast',
                                type: 'alert',
                                title: 'Account disabled',
                                body: 'Make sure you account is active',
                                duration: 4000
                            })
                            break
                        case 'disabled':
                            toast({
                                    containerSelector: '#toast',
                                    type: 'alert',
                                    title: 'Account disabled',
                                    body: 'Make sure your account is active and connected to this email',
                                    duration: 4000
                                })
                            break
                        case 'failed':
                            toast({
                                    containerSelector: '#toast',
                                    type: 'error',
                                    title: 'Some thing went wrong',
                                    body: 'Please request password reset again',
                                    duration: 4000
                                })
                            break
                    }
                })
                .catch(()=>{
                    toast({
                            containerSelector: '#toast',
                            type: 'error',
                            title: 'Request error',
                            body: 'Some thing went wrong while requesting to the server',
                            duration: 4000
                        })
                })
            }
        })
    </script>
{% endblock %}